<!DOCTYPE html>
<html lang="en">
<head>
    <title>BKK PY-2 demo page</title>
    <h2>Download a file</h2>
    <a href="{{url_for('get_files',filename = filename)}}">Download file</a>
</head>
<body>
<p>Done</p>
</body>
</html>