<!DOCTYPE html>
<html lang="en">
<head>
  {{ dropzone.load_css() }}
  {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 600px;') }}
</head>
<body>  
  {{ dropzone.create(action='upload') }}
  {{ dropzone.load_js() }}
  {{ dropzone.config(redirect_url=url_for('test')) }}
</body>
</html>

